<app-dialog title="Detalle insumo">
  <div class="row py-3 mx-2">
    <img onerror="this.src='assets/images/cards/card.jpg'" [src]="localData.imagen">
    <div class="d-flex flex-column align-self-center ml-3">
      <div class="d-flex align-items-center">
        <mat-icon class="material-icons mr-2" [class]="getPublicClass()">stop_circle</mat-icon>
        <div>Codigo {{ localData.id | number }}</div>
      </div>
      <h1>{{ localData.denominacion }}</h1>
      <div>
        <span class="status-chip mr-3">
          {{ localData.rubro.denominacion }}
        </span>
        <span class="status-chip" *ngIf="localData.rubro.rubroPadre">
          {{ localData.rubro.rubroPadre.denominacion }}
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="d-flex flex-column app-card align-items-center">
      <span class="head">Costo</span>
      <span class="number">{{ localData.costo | currency:"ARS":"symbol" }}</span>
    </div>
    <div class="d-flex flex-column app-card align-items-center">
      <span class="head">Stock actual</span>
      <span class="number">{{ localData.stockActual | number }} {{ localData.unidadMedida }}</span>
    </div>
    <div class="d-flex flex-column app-card align-items-center">
      <span class="head">Stock mínimo</span>
      <span class="number">{{ localData.stockMinimo | number }} {{ localData.unidadMedida }}</span>
    </div>
    <div class="d-flex flex-column app-card align-items-center">
      <span class="head">Stock máximo</span>
      <span class="number">{{ localData.stockMaximo | number }} {{ localData.unidadMedida }}</span>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-end my-3">
    <h2>Existencias</h2>
    <!-- Button -->
    <div>
      <button mat-flat-button color="primary" class="ml-3" (click)="onAddStock()">
        <mat-icon class="material-icons" [inline]="true">add</mat-icon> Añadir existencia
      </button>
    </div>
  </div>
  <mat-table [dataSource]="localData.historialStock">
    <!-- Fecha Column -->
    <ng-container matColumnDef="fechaMovimiento">
      <mat-header-cell *matHeaderCellDef> FECHA </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.fechaMovimiento | date:'short' }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <!-- Cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef> CANTIDAD </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.cantidad | number }} {{ localData.unidadMedida }}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <!-- Operación Column -->
    <ng-container matColumnDef="operacion">
      <mat-header-cell *matHeaderCellDef> OPERACIÓN </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.operacion" class="material-icons" style="color: #43a047;">arrow_circle_up</mat-icon>
        <mat-icon *ngIf="!row.operacion" class="material-icons" style="color: #e53935;">arrow_circle_down</mat-icon>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="table-footer">Última modificación: {{ localData.ultimaActualizacion | date:'medium' }}</div>
</app-dialog>
