<span class="d-flex align-items-center my-3 subtitle">
  <mat-icon class="material-icons-outlined mr-1">list_alt</mat-icon>
  Detalle
</span>
<mat-table [dataSource]="data" class="mb-4">
  <!-- Imagen Column -->
  <ng-container matColumnDef="imagen">
    <mat-header-cell *matHeaderCellDef> IMAGEN </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <img onerror="this.src='assets/images/cards/card.jpg'" [src]="row.articuloManufacturado ? row.articuloManufacturado.imagen : row.insumo.imagen">
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <!-- Denominación Column -->
  <ng-container matColumnDef="denominacion">
    <mat-header-cell *matHeaderCellDef> DENOMINACIÓN </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ row.articuloManufacturado ? row.articuloManufacturado.denominacion : row.insumo.denominacion }}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <!-- Cantidad Column -->
  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef> CANTIDAD </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.cantidad }}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="detailColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: detailColumns"></mat-row>
</mat-table>
