<div class="app-container">
  <div class="wrap-component">
    <div class="app-logo mb-3">
      <img src="assets/images/logos/logo.png" alt="LOGO" class="w-100">
    </div>
    <span class="app-title mb-4">
      ACTUALIZA TU CONTRASEÑA
    </span>
    <form nonvalidate [formGroup]="editPasswordForm">
      <mat-form-field class="w-100 pb-2">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput required type="password" formControlName="newPassword"
          placeholder="Ingrese su nueva contraseña.">
      </mat-form-field>
      <mat-form-field class="w-100 pb-2">
        <mat-label>Confirme su nueva contraseña</mat-label>
        <input matInput required type="password" formControlName="confirmPassword"
          placeholder="Confirmé su nueva contraseña.">
      </mat-form-field>
      <button mat-flat-button color="primary" class="w-100 mb-4" (click)="onConfirm()">
        ACTUALIZAR
      </button>
    </form>
  </div>
</div>
