agm-map {
  height: 250px;
  width: 100%;
}

::ng-deep .no-padding .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

/* BUTTON */
.mat-flat-button {
  height: 42px;
  padding: 0 30px;
  border-radius: 25px;
  font-size: 18px;
}
